@import 'tailwindcss';

@theme {
	--color-green: #0c831f;
}

:root {
	box-sizing: border-box;

	::selection {
		background: #0C831F;
		color: #FFD230;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}